<%- include("partials/header") -%>

<body>
  <!-- display current day of week -->
  <div id="heading" class="box">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <!-- To-Do List items -->

    <% for (let i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
       <p class="item <%= className[i] %>"> <%= newListItems[i] %> </p>
    </div>
    <% } %>

      <!-- / = home route -->
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
      <button id="plus-button" type="button" name="list" value=<%= listTitle %>>+</button>
      <div id="dropdown">
        <div class="dropdown-item">
          <button class="dropdown-btn" type="submit" name="className" value=''>Normal</button>
        </div>
        <div class="dropdown-item">
          <button class="dropdown-btn" type="submit" name="className" value='urgent'>Urgent</button>
        </div>
        <div class="dropdown-item">
          <button class="dropdown-btn" type="submit" name="className" value='unimportant'>Unimportant</button>
        </div>
      </div>
    </form>

  </div>

  <%- include('partials/footer') -%>
